@{
  ViewBag.Title = "ThrowWebException";
}

@section styles
{
  @Styles.Render("~/Content/account")
}

<div id="content" class="centered user-settings-content default-set-height">
  <h2>Throw Web Exception</h2>
</div>
