@model IEnumerable<GhostHuntAR.Infrastructure.Models.GHLocation>

@{
  ViewBag.Title = "Index";
}

<div id="content" class="centered">

  @Html.ActionLink("Create", "Create", "Manage")

  <br />
  <br />

  @if (Model != null)
  {
    foreach (var location in Model)
    {
      @Html.ActionLink(location.Title, "Display", "Manage", new {id = location.GHLocationID}, null)
      <br />
    }
  }
    
</div>